html {
    font-size: 16px;
    background-color: black;

}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}


header h1 {
    font-size: 3.125rem;
    color: white;
    text-align: center;
    font-weight: normal;
}

#section1 video {
    text-align: center;
    width: auto;
    height: auto;
    margin-top: 1.25%;
}

#section2 h1 {
    font-weight: 300;
    font-size: 2.625rem;
    color: white;
}

#section2 p {
    font-size: 1.3125rem;
    color: gray;
}

#section3 h1 {
    font-weight: 300;
    font-size: 2.625rem;
    color: white;
}

.link {
    color: aquamarine;
    font-size: 1rem;
    text-align: center;
}

footer {
    text-align: right;
}

footer p {
    font-size: 1.3125rem;
    color: gray;
}